<div class="card">
  <div class="card-header bg-primary">
    New Sale
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <label for="">Invoice No</label>
        <input [(ngModel)]="saleObj.invoiceNo" class="form-control" type="text">
      </div>
      <div class="col-3">
        <label for="">Customer</label>
        <input [(ngModel)]="saleObj.customerName" class="form-control" type="text">
      </div>
      <div class="col-3">
        <label for="">Mobile</label>
        <input [(ngModel)]="saleObj.mobileNo" class="form-control" type="text">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label for="">Sale Date</label>
        <input [(ngModel)]="saleObj.saleDate" class="form-control" type="date">
      </div>

    </div>
    <div class="row">
      <div class="col-3">
        <label for="">Select Product</label>
        <select (change)="checkStock()" [(ngModel)]="saleObj.productId" class="form-control">
          <option value="">Select Product</option>
          <option *ngFor="let item of productList" [value]="item.productId"> {{item.productName}}</option>
        </select>
      </div>
      <div class="col-3">
        <label for="">Quantity</label>
        <input [(ngModel)]="saleObj.quantity" class="form-control" type="number">
      </div>
      <div class="col-3">
        <label for="">Total Amount</label>
        <input [(ngModel)]="saleObj.totalAmount" class="form-control" type="number">
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-3 text-end">
        <button class="btn btn-sm btn-secondary" routerLink="/sale-list">Go To List</button>
      </div>
      <div class="col-3 text-center">
        <button (click)="onSave()" class="btn btn-sm btn-success">Save Sale</button>
      </div>
    </div>
  </div>
</div>
